@model PiattoViewModel

<form method="post">

    <div class="form-group">
        <label asp-for="IdPiatto"></label>
        <input asp-for="IdPiatto" class="form-control" readonly/>
        <span asp-validation-for="IdPiatto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" readonly/>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Prezzo"></label>
        <input asp-for="Prezzo" class="form-control" />
        <span asp-validation-for="Prezzo" class="text-danger"></span>
    </div>

    <input type="submit" value="Conferma Modifica" class="tbn btn-primary" />
    <input type="reset" value="Reset" class="=btn btn-primary" />
    <a class="btn btn-primary" asp-controller="Piatti" asp-action="Index" role="button">Indietro</a>

</form>